@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

 <div class="col-md-9">
           
            <article>
                                       
                @await Html.PartialAsync("partials/Register")
            </article>
        </div>